.post__preview {
    width: 400px;
    height: 150px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    user-select: none;
}

.container {
    margin-top: 10px;
    overflow-y: auto;
    max-height: 700px;
}

.link {
    display:block;
    margin: 10px auto;
    width: 400px;
    color: white;
    text-decoration: none;
}