.new__post {
    width: 400px;
    height: 150px;
    border: 1px solid white;
    margin: auto;
    border-radius:5px;
    padding: 10px 10px 5px 10px;
    user-select: none;
    text-align: center;
    position: absolute;
    left:50%; top: 50%;
    transform: translate(-50%, -150%);
}

.text__area {
    width: 100%; height: 80%;
    resize: none;
    border-radius: 5px;
    padding: 5px;
}

.button {
    margin: 0 10px 0 0;
    padding: 1px 5px 1px 5px;
    font-weight: 600;
}